<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  		<%- include header %>
		<div class="row">
			<%- include left %>
	        <div class="col-sm-10">
					<h3>这里是发表文章页面</h3>
	        </div>
		</div>
   		
  </body>
</html>
